body {
  margin: 0;
  font-family: "Comic Sans MS";
}

main {
  margin-top: 3%;
}

.scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}

.playerScore {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  text-align: center;
  margin: 0 1%;
}

#gameResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 220px;
  border: 3px solid black;
  font-size: 1.5em;
}

#xWins span {
  color: blue;
  font-size: 1.5em;
}

#oWins span {
  color: red;
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

.x {
  color: blue;
  font-size: 4em;
}

.o {
  color: red;
  font-size: 4em;
}

.win {
  background-color: greenyellow;
}

.gameContainer {
  display: flex;
  flex-direction: column;
}

#resetContainer {
  margin-top: 3%;
  text-align: center;
}
